


.navbar-toggler {
  background: #fff;
}

.breadcrumb-item+.breadcrumb-item::before {
  color: var(--light);
}


p {
  line-height: 2;
}

#homeCarousel {
  border-bottom: 5px solid var(--primary);
}


