

.tab-content {
    margin-top: 1.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.card-img-top {
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
    max-height: 150px;
    background: radial-gradient(rgba(0, 0, 0, 0.5), white);
}



.disclaimer> p {
    font-size: 20px;
}

.disclaimer b {
    font-weight: bold;
    color: black;
}

#disclaimer-word {
    font-weight: bold;
    color: red;
}
