

.disclaimer-word {
    font-weight: bold;
    color: #ff0000;
}



.tab-content {
    margin-top: 1.4rem;
    width: 100%;
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
}


.pet-menu {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    flex-direction:column;
}

 .pet-menu-img-caption{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    color: #000000;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: underline;
    transition: 0.5s;
}

.pet-menu-img {
    height: 250px;
    width: auto;
    border: 1px solid #000000;
}


.dog-treat-disclaimer-list{
    list-style: disc inside;
    line-height: 1.5rem;
}


/*
* ==========================================
* CARD GENERAL
* ==========================================
*/

.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: auto;
}

.card-header {
    background-color: var(--primary);
}

.card-img-top {
    border-radius: 0;
    border: #000000 1px solid;
    width: 15.5em;
    height: 15.5em;
    margin: 1rem auto auto auto;
    object-fit: contain;
}

.card-body {
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.card-footer {
    position: relative;
}

.card-button {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*
* ==========================================
* OFFCANVAS GENERAL
* ==========================================
*/
.offcanvas-title {
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin: auto;
    border-bottom: 1px solid #000000;
}


/*
* ==========================================
* OFFCANVAS NUTRITIONAL FACTS
* ==========================================
*/
.performance-facts {
	border: 1px solid black;
	width: 18em;
    margin: auto;
	padding: 0.5rem;
}
.performance-facts table {
	border-collapse: collapse;
}
.performance-facts__title {
	font-weight: bold;
	font-size: 2rem;
	margin: 0 0 0.25rem 0;
}
.performance-facts__header {
	border-bottom: 10px solid black;
	padding: 0 0 0.25rem 0;
	margin: 0 0 0.5rem 0;
}
.performance-facts__header p {
	margin: 0;
}
.performance-facts__table, .performance-facts__table--grid, .performance-facts__table--small {
	width: 100%;
}
.performance-facts__table thead tr th, .performance-facts__table--grid thead tr th, .performance-facts__table--small thead tr th, .performance-facts__table thead tr td, .performance-facts__table--grid thead tr td, .performance-facts__table--small thead tr td {
	border: 0;
}
.performance-facts__table th, .performance-facts__table--grid th, .performance-facts__table--small th, .performance-facts__table td, .performance-facts__table--grid td, .performance-facts__table--small td {
	font-weight: normal;
	text-align: left;
	padding: 0.25rem 0;
	border-top: 1px solid black;
	white-space: normal;
}
.performance-facts__table td:last-child, .performance-facts__table--grid td:last-child, .performance-facts__table--small td:last-child {
	text-align: right;
}
.performance-facts__table .blank-cell, .performance-facts__table--grid .blank-cell, .performance-facts__table--small .blank-cell {
	width: 1rem;
	border-top: 0;
}
.performance-facts__table .thick-row th, .performance-facts__table--grid .thick-row th, .performance-facts__table--small .thick-row th, .performance-facts__table .thick-row td, .performance-facts__table--grid .thick-row td, .performance-facts__table--small .thick-row td {
	border-top-width: 5px;
}
.small-info {
	font-size: 0.7rem;
}
.performance-facts__table--small {
	border-bottom: 1px solid #999;
	margin: 0 0 0.5rem 0;
}
.performance-facts__table--small thead tr {
	border-bottom: 1px solid black;
}
.performance-facts__table--small td:last-child {
	text-align: left;
}
.performance-facts__table--small th, .performance-facts__table--small td {
	border: 0;
	padding: 0;
}
.performance-facts__table--grid {
	margin: 0 0 0.5rem 0;
}
.performance-facts__table--grid td:last-child {
	text-align: left;
}
.performance-facts__table--grid td:last-child::before {
	content: "•";
	font-weight: bold;
	margin: 0 0.25rem 0 0;
}
.text-center {
	text-align: center;
}
.thick-end {
	border-bottom: 10px solid black;
}
.thin-end {
	border-bottom: 1px solid black;
}

/*
* ==========================================
* OFFCANVAS INGREDIENTS
* ==========================================
*/

.ingredients {
    display: block;
    color: #000000;
    width: fit-content;
    margin: 1em auto auto auto;
}

.ingredients h2 {
    font-size: 1.5rem;
    font-weight: normal;
    border-bottom: 1px solid #000000;
    text-align: center;
    margin-bottom: 1rem;
}

.ingredients ul {
    list-style: disc inside;
    line-height: 1.5rem;
}
