section {
    padding-top: 7em;
}

section p {
    font-size: calc(18px + 1 * ((100vw - 300px) / (250)));
    line-height: 2;
    font-family: 'amiri', serif, sans-serif;

}

.subtitle {
    font-weight: bold;
}

#cookiepolicy {
    margin-top: 8em;
}