
:root {
  --primary: #F7B100;
  --secondary: #545454;
  --light: #FDF5EB;
  --dark: #1E1916;
}

body {
  
  background: rgba(100, 255, 255, 0.2);
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-weight: 600 !important;
}

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.my-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 99;
}

.bi-caret-down-fill {
  color: var(--primary);
}

img {
  pointer-events: none;
}

.img-rev {
  transform: scaleX(-1);
}

.logo-img {
  height: auto;
  width: 3rem;
}

.logo-text-img {
  height: auto;
  width: 10rem;
}




/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}


/*** Button ***/
.btn {
  font-weight: 500;
  transition: .5s;
}

.btn.btn-primary {
  color: #FFFFFF;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}


/*** Navbar ***/
.navbar .navbar-nav .nav-link {
  padding: 10px 15px;
  color: var(--light);
  outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--primary);
}

.navbar.fixed-top {
  transition: .5s;
}

.navbar-brand-img img {
  width: 3rem;
  height: auto;
}

@media (min-width: 501.00px) {
  .navbar-brand-img {
    width: 3.5em;
    height: auto;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) translateX(120%);
  }
  
  .navbar {
    padding-top: 15px !important; /* Ensure if the hamburger menu isn't up that their will be padding for sure */
  }
}

@media (max-width: 500.00px) {
  .navbar-brand-img {
      display: none;
  }
}


.icon {
  position: absoulte;
  border: 1px solid var(--primary);
  transform:  translateY(25%);
}

.nav-link:hover > .icon {
  transform: rotate(45deg) translateY(50%);
  transition: .5s;
  color: var(--primary);
}



@media (max-width: 991.98px) {
  .navbar .navbar-nav {
      margin-top: 10px;
      border-top: 1px solid rgba(255, 255, 255, .3);
      background: var(--dark);
  }

  .navbar .navbar-nav .nav-link {
      padding: 10px 0;
  }
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
      display: block;
      visibility: hidden;
      top: 100%;
      transform: rotateX(-75deg);
      transform-origin: 0% 0%;
      transition: .5s;
      opacity: 0;
  }

  .navbar .nav-item:hover .dropdown-menu {
      transform: rotateX(0deg);
      visibility: visible;
      transition: .5s;
      opacity: 1;
  }
}






/*** Footer ***/
.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: var(--light);
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--light);
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  color: var(--primary);
  letter-spacing: 1px;
  box-shadow: none;
}

.copyright {
  background: #111111;
}

.copyright a {
  color: var(--primary);
}

.copyright a:hover {
  color: var(--light);
}


